* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: rgb(140, 210, 210);
}

.banner {
  height: 10vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 6)),
    url(codinglaptop.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
}

.navbar {
  width: 65%;
  /* margin: auto; */
  /* padding: 35px 0; */
}
.navbar ul {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.navbar ul li {
  list-style: none;
  margin-left: 2%;
  /* display: inline-block; */
  /* margin: 0 30px; */
}

.navbar ul li a {
  text-decoration: none;
  font-size: 0.5rem;
  color: aliceblue;
}

.logo {
  font-size: 1rem;
  text-align: left;
  color: aliceblue;
  cursor: pointer;
}

main {
  margin-left: 5%;
  padding-left: 5%;
  margin-top: 2%;
  padding-top: 2%;
}
#title-banner {
  background-image: url(./cosmiccloud.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  height: 40vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title h2 {
  color: white;
}

.row {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5%;
  padding-bottom: 1%;
}

.side-heading {
  width: 15%;
  border-right: 5px solid rgb(74, 125, 155);
  display: flex;
  align-items: left;
}

.side-heading h3 {
  text-align: right;
  margin-left: 1%;
  word-wrap: wrap;
  flex: 0 0 20%;
}

.info {
  width: 80%;
  display: flex;
}
.placeholder {
  display: flex;
}
.placeholder img{
  width: 425px;
  height: 400px
}
.info img {
  width: 50%;
  height: 80%;
  border-radius: 20px;
  margin-top: 5%;
}
.info p {
  text-align: center;
  word-wrap: wrap;
  font-size: 1rem;
}
.header {
  text-align: center;
  text-decoration: none;
  height: 36px;
  width: auto;
}
.sidebar {
  float: left;
  border-right: solid;
}
.work {
  flex-wrap: wrap;
  justify-content: space-around;
}
.contact {
  flex-wrap: nowrap;
  text-align: end;
  margin-left: 1%;
  justify-content: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
}
.item {
  margin: 5px;
}
/* .project-link {
  width: 45%;
  height: 40vh;
} */

footer {
  background-color: aquamarine;
  height: 50px;
  text-align: center;
  width: auto;
}

html {
  box-sizing: border-box;
  font-size: 36px;
}

p {
  color: black;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: fit-content;
}

.links {
  text-align: end;
  font-size: medium;
}

body {
  margin: 0;
  font-family: "Marcellus", sans-serif;
}
